.hero {
  position: relative;
  height: 100vh; /* Full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#heroVideo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  object-fit: fill;
}

.hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  position: relative;
  z-index: 1; /* Puts content above the video */
  text-align: center;
  color: white; /* Text color to contrast against the video */
}

.hero-content h1 {
  font-size: 3em;
  margin-bottom: 0.5em;
}

.hero-content p {
  font-size: 1.5em;
  margin-bottom: 1em;
}

.hero-content .btn {
  padding: 0.75em 2em;
  background-color: #ff7f50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.2em;
}


/* ----------User Details form ------------- */
/* From Uiverse.io by ammarsaa */ 
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* max-width: 500px; */
    width: 60%;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    background-color: rgba(26, 26, 26, 0.8);
    color: #fff;
    border: 1px solid #333;
  }
  
  .title {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
    color: #00bfff;
  }
  
  .title::before {
    width: 18px;
    height: 18px;
  }
  
  .title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
  }
  
  .title::before,
  .title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: #00bfff;
  }
  
  .message, 
  .signin {
    font-size: 14.5px;
    color: rgba(255, 255, 255, 0.7);
  }
  
  .signin {
    text-align: center;
  }
  
  .signin a:hover {
    text-decoration: underline royalblue;
  }
  
  .signin a {
    color: #00bfff;
  }
  
  .flex {
    display: flex;
    width: 100%;
    gap: 6px;
  }
  
  .form label {
    position: relative;
  }
  
  .form label input, .form label select {
    background-color: #333;
    color: #fff;
    width: 100%;
    padding: 20px 05px 05px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
  }
  
  .form label input + span, .form label select + span {
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 10px;
    top: 0px;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }
  
  .form label input:placeholder-shown + span, .form label select:placeholder-shown + span {
    top: 12.5px;
    font-size: 0.9em;
  }
  
  .form label input:focus + span,
  .form label input:valid + span, .form label select:valid + span {
    color: #00bfff;
    top: 0px;
    font-size: 0.7em;
    font-weight: 600;
  }
  
  .input {
    font-size: medium;
  }
  
  .submit {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
    background-color: #00bfff;
  }
  
  .submit:hover {
    background-color: #00bfff96;
  }
  
  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
  
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }