/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat Alternates", sans-serif;
  background-color: #f3e9dd;
}

/* Hero Section */
.hero {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hero-overlay {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
}

#heroVideo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  object-fit: cover;
}

.hero-content {
  display: flex;
  padding-top: 2rem;
  width: 70%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
  position: relative;
  z-index: 1;
  text-align: center;
  color: white;
}

.hero-content h1 {
  font-size: 3em;
  margin-bottom: 0.5em;
}

.hero-content .motivational-message {
  font-size: 2.5em;
}

.hero-content p {
  font-size: 1.5em;
  margin-bottom: 1em;
}

/* Adjust Button Style */
.hero-content .btn {
  padding: 0.75em 2em;
  background-color: #ff7f50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.2em;
}

/* Form Styling */
.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 60%;
  padding: 20px;
  border-radius: 20px;
  background-color: rgba(26, 26, 26, 0.8);
  color: #fff;
  border: 1px solid #333;
}
.form label {
  position: relative;
}

.form label input,
.form label select {
  background-color: #333;
  color: #fff;
  width: 100%;
  padding: 30px 10px 5px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
  position: relative;
  font-size: 1rem;
}

.form label input + span,
.form label select + span {
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 10px;
  top: 12.5px;
  font-size: 1rem;
  cursor: text;
  transition: 0.3s ease;
}

.form label input:focus + span,
.form label input:valid + span,
.form label select:valid + span {
  color: #f7d24f;
  top: 0px;
  font-size: 0.7em;
  font-weight: 600;
}

.submit {
  border: none;
  padding: 15px;
  border-radius: 40px;
  color: #000;
  font-size: 20px;
  background-color: #f8d247;
  cursor: pointer;
  font-weight: 600;
}

.submit:hover {
  background-color: #ffca10;
}

/* Media Queries */
@media (max-width: 1200px) {
  .hero-content {
    width: 80%;
  }
  .hero-content h1 {
    font-size: 2.5em;
  }
  .hero-content .motivational-message {
    font-size: 2em;
  }
  .form {
    width: 70%;
  }
}

@media (max-width: 992px) {
  .hero-content {
    width: 90%;
  }
  .hero-content h1 {
    font-size: 2.2em;
  }
  .hero-content .motivational-message {
    font-size: 1.8em;
  }
  .form {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 1.8em;
  }
  .hero-content .motivational-message {
    font-size: 1.5em;
  }
  .form {
    width: 90%;
  }
}

@media (max-width: 576px) {
  .hero-content h1 {
    font-size: 1.5em;
  }
  .hero-content .motivational-message {
    font-size: 1.2em;
  }
  .form {
    width: 95%;
  }
  .form label input,
  .form label select {
    padding: 20px 10px 5px 10px;
  }
}
